/*
Devil Survivor 2 by SylakentH
*/

@\import "https://malscraper.azurewebsites.net/covers/all/anime/presets/more";
@\import "https://yuiafterdark.github.io/shared/fixes/classic.css";
@\import "https://fonts.googleapis.com/css?family=Autour+One";

/* begin http://dl.dropbox.com/u/78340470/CSSforFoxgirls.css */
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(3),
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(4), 
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(5), 
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(6), 
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(7),
#list_surround table:nth-of-type(n+4):hover td:nth-of-type(8) {
    display: table-cell !important;
}
/* end http://dl.dropbox.com/u/78340470/CSSforFoxgirls.css */

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(https://i.imgur.com/52Qt3Dy.png) /* background.png */;
    background-position: 50% 0;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: Autour One;
    font-size: 12px;
}
#list_surround {
    background-attachment: fixed;
    background-position: 24% 0;
    background-repeat: no-repeat no-repeat;
    height: 250px;
    left: 0;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    width: 650px;
}
#mal\_control\_strip {
    background-color: transparent !important;
    /* Remove broken image URL:
	background-image: url("http://dl.dropbox.com/u/3159308/mal/mal-control-strip-bg.png") !important;
	and replace with gradient based on old preview images: */
	background-image: linear-gradient(to bottom, #0128, #0128);
    box-shadow: 0 9px 28px 7px #8BBBF7 inset;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#mal_control_strip a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}
#mal_control_strip a:hover {
    text-decoration: underline !important;
}
#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right-style: none !important;
}
#list_surround br + *:nth-child(2) {
    height: 40px;
    padding-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1;
}
.status_selected {
    background-image: -moz-linear-gradient(center bottom , rgba(33, 78, 154, 0.9) 25%, rgba(168, 168, 168, 0.9) 63%);
    background-image: -webkit-linear-gradient(center bottom , rgba(33, 78, 154, 0.9) 25%, rgba(168, 168, 168, 0.9) 63%);
    background-image: -ms-linear-gradient(center bottom , rgba(33, 78, 154, 0.9) 25%, rgba(168, 168, 168, 0.9) 63%);
    background-image: -o-linear-gradient(center bottom , rgba(33, 78, 154, 0.9) 25%, rgba(168, 168, 168, 0.9) 63%);
    background-image: linear-gradient(center bottom , rgba(33, 78, 154, 0.9) 25%, rgba(168, 168, 168, 0.9) 63%);
  border-left: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
	border-right: 1px solid #333 !important;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 0 3px 10px #000;
    height: 42px;
}
.status_selected a {
    font-size: 12px;
    z-index: 10;
}
.status_not_selected {
    font-size: 11px;
}
.status_selected a:hover {
    cursor: default;
    text-decoration: none;
}
.status_not_selected a:hover {
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #000000, 0 0 5px #000000;
    top: 1px;
}
#search, #mal\_control\_strip img {
    display: none;
}
tr:hover [class^="td"] {
    background-color: rgba(109, 158, 219, 0.9);
    transition: background-color 0.5s linear 0s;
}
a {
    color: white;
    text-shadow: none;
}
a:hover {
    color: yellow !important;
    text-shadow: 0 1px rgba(255, 255, 255, 0.15);
}
.table_header {
    padding-top: 5px;
}
.td1:nth-of-type(5), .td2:nth-of-type(5) {
    color: white;
}
.td1:nth-of-type(1), .td2:nth-of-type(1) {
    color: rgba(255, 255, 255, 0.7) !important;
}
.table_header:nth-of-type(1) {
    color: white;
}
.table_header:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(5) {
    border-bottom-right-radius: 0;
    color: white;
    padding-right: 8px;
}
.table_header, .category_totals {
    background-color: rgba(33, 78, 154, 0.7);
    border: 0 none;
    color: white !important;
    opacity: 1;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}
.td1, .td2 {
    background-color: rgba(33, 78, 154, 0.7);
    color: white !important;
    padding: 5px 4px;
    transition: background-color 0.5s linear 0s;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(6) {
    display: none !important;
    width: 0;
}
small {
    color: #D79C20 !important;
    font-weight: bold;
}
.table_header, .td1, .td2, .category_totals {
    color: grey;
}
.borderRBL {
    line-height: normal !important;
}
[cellspacing="0"] {
    line-height: 17px;
}
.category_totals {
    text-align: center;
}
.category_totals:hover {
    background-color: #C41E0E;
    color: #FFFFFF;
}
[class^="header_"] * {
    background-repeat: no-repeat no-repeat;
    font-size: 53px;
    height: 130px;
    line-height: 24px;
    padding-bottom: 9px;
    text-align: left;
    vertical-align: bottom;
}
.header_title {
    border: medium none !important;
    color: white;
    display: block;
    height: auto;
    margin-left: 73px;
    padding: 0 8px 0 0;
    text-shadow: 4px 4px 7px #214E9A, 2px 2px 6px white;
}
#grand_totals {
    background-color: rgba(33, 78, 154, 0.7);
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: white;
    line-height: 20px;
    min-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
:hover + .hide {
    background-position: center 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    border-color: white;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 8px 8px #8BBBF7;
    display: block !important;
    height: 350px;
    padding-bottom: 0;
    position: fixed;
    right: 30px;
    top: 160px;
    width: 226px;
}
.hide:before {
    background: none repeat scroll 0 0 transparent;
    border-radius: 25px 25px 0 0;
    color: white;
    content: "";
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 225px;
}
.td1:nth-of-type(6) a, .td2:nth-of-type(6) a {
    color: white !important;
    font-weight: normal !important;
    text-shadow: 0 0 0 black !important;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
    background-color: rgba(33, 78, 154, 0.7) !important;
    border-color: white;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 8px 8px #8BBBF7;
    color: white !important;
    display: none;
    height: auto;
    padding: 10px 10px 14px 24px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-shadow: 0 0 0 black !important;
    top: 522px;
    width: 240px;
    z-index: 1;
}
#copyright, #copyright:hover {
    background-color: rgba(33, 78, 154, 0.7);
    border: 1px solid white;
    border-radius: 5em 5em 0 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    padding: 0;
    width: 800px;
}
#copyright:before {
    color: white;
    content: " Design by SylakentH_ .Thanks to the one who made the topbar.";
    font-size: 12px;
    padding-right: 3px;
    padding-top: 10px !important;
}
#copyright:after {
    color: #FFD700;
    content: " ";
    padding-left: 20px;
}