/*
Manglex by SylakentH
Modified by Valerio Lyndon
Last update: 2024-Jan-15
*/
@\import "https://malscraper.azurewebsites.net/covers/all/anime/presets/more";
@\import "https://yuiafterdark.github.io/shared/fixes/classic.css";
@\import "https://fonts.googleapis.com/css2?family=Autour+One&family=Patrick+Hand+SC";
/* begin https://dl.dropbox.com/s/rogesc5nd2o920m/topbarAnohana.css */
#mal_control_strip {
	--user-btn: url(https://i.ibb.co/4V3Nqgj/user.png) /* user.png */;
	--user-btn-hover: url(https://i.ibb.co/Yhf4N0w/user-hover.png) /* user_hover.png */;
	--home-btn: url(https://i.ibb.co/6w4fDWb/home.png) /* home.png */;
	--home-btn-hover: url(https://i.ibb.co/dKxvT8B/home-hover.png) /* home_hover.png */;
	--stats-btn: url(https://i.ibb.co/1RVzkWK/stats.png) /* stats.png */;
	--stats-btn-hover: url(https://i.ibb.co/F5psvrf/stats-hover.png) /* stats_hover.png */;
	--search-btn: url(https://i.ibb.co/fpS8C0J/search.png) /* search.png */;
	--search-btn-hover: url(https://i.ibb.co/255PjyY/search-hover.png) /* search_hover.png */;
	--logo: url(https://i.ibb.co/pPWQv6B/myanimelist.png) /* myanimelist.png */;
	--search-icon: url(https://i.ibb.co/SxV4gzB/search-icon.png) /* search_bar.png */;
}
#mal_cs_listinfo, #mal_cs_links, #mal_cs_otherlinks, #mal_cs_powered {
    -moz-box-sizing: border-box;
    background: none no-repeat scroll 100% 0 transparent;
    border: none;
    height: 0 !important;
    overflow: hidden;
    padding: 32px 0 0 !important;
    position: fixed;
    right: 4px;
    text-align: center;
    top: 4px;
    transition: all 0.4s ease 0s;
    width: 150px !important;
    z-index: 10;
}
#mal_cs_listinfo:hover, #mal_cs_links:hover, #mal_cs_otherlinks:hover, #mal_cs_powered:hover {
    height: 200px !important;
    padding-top: 32px !important;
}
#mal_cs_listinfo div, #mal_cs_links div, #mal_cs_otherlinks div, #mal_cs_powered div, #mal_cs_powered dd {
    background-color: rgba(12, 125, 196, 0.6);
    border-radius: 3px 0 0 0;
    font-size: 0 !important;
    line-height: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 0 !important;
    transition: opacity 0.4s ease-in-out 0s;
}
#mal_cs_listinfo:hover div, #mal_cs_links:hover div, #mal_cs_otherlinks:hover div, #mal_cs_powered:hover div, #mal_cs_powered:hover dd {
    opacity: 1;
}
#mal_cs_listinfo div:nth-of-type(2), #mal_cs_links div:nth-of-type(2), #mal_cs_otherlinks div:nth-of-type(2), #mal_cs_powered div:nth-of-type(2) {
    border-radius: 0 0 3px 3px;
    padding: 4px 0 8px !important;
}
#mal_cs_listinfo a, #mal_cs_links a, #mal_cs_otherlinks a, #mal_cs_powered a {
    background-color: rgba(12, 46, 196, 0.6) !important;
    border-radius: 3px 3px 3px 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    display: block;
    font: 13px/17px 'Arial',sans-serif !important;
    margin: 4px 12px 0;
    padding: 3px 0 !important;
    text-decoration: none;
}
#mal_cs_listinfo a:nth-of-type(1), #mal_cs_links a:nth-of-type(1), #mal_cs_otherlinks a:nth-of-type(1), #mal_cs_powered a:nth-of-type(1) {
    margin-top: 0;
}
#mal_cs_listinfo a:hover, #mal_cs_links a:hover, #mal_cs_otherlinks a:hover {
    background-color: rgba(38, 135, 252, 0.6) !important;
    color: white !important;
    text-shadow: 0 0 0 black !important;
    border-color: white !important;
}
#mal_cs_listinfo strong a strong {
    font-weight: normal;
}
#mal_cs_otherlinks strong {
    color: #333333;
    display: block;
    font: bold 13px/17px 'Arial',sans-serif !important;
    padding: 0 4px 4px;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_otherlinks strong a {
    background: none repeat scroll 0 0 transparent !important;
    border-radius: 0 0 0 0;
    color: #333333;
    display: inline;
    font: bold 13px/17px 'Arial',sans-serif !important;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_powered a {
    background-color: rgba(12, 125, 196, 0.6) !important;
    border: medium none;
    border-radius: 3px 0 0 0 !important;
    display: block !important;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 !important;
}
#mal_cs_powered:hover a {
    opacity: 1;
}
#mal_cs_powered a img {
    background: var(--logo) no-repeat scroll 50% 6px rgba(12, 46, 196, 0.6);
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 0;
    margin: 0 12px;
    padding: 23px 0 0 126px;
    transition: all 0.25s ease-in-out 0s;
    width: 0;
}
#mal_cs_powered a img:hover {
    background-color: rgba(12, 46, 196, 0.3);
}
#mal_cs_powered #search {
    border-radius: 0 0 3px 3px;
    padding: 8px !important;
    position: relative;
}
#searchBox {
    -moz-box-sizing: border-box;
    border-color: #BCBCBC #D6D6D6 #D6D6D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 28px;
    padding-left: 6px !important;
    padding-right: 24px !important;
    vertical-align: top;
    width: 100px;
}
#searchBox:hover, #searchBox:focus {
    border-color: #ACACAC #C6C6C6 #C6C6C6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#searchListButton {
    background: var(--search-icon) no-repeat scroll 0 0 transparent !important;
    border-radius: 3px 3px 3px 3px;
    height: 0;
    margin: 0;
    padding: 16px 0 0 19px !important;
    position: absolute;
    right: 12px !important;
    top: 14px !important;
    width: 0;
}
#mal_cs_listinfo {
    background-image: var(--user-btn);
    right: 106px;
}
#mal_cs_listinfo:hover {
    background-image: var(--user-btn-hover);
}
#mal_cs_links {
    background-image: var(--home-btn);
    right: 72px !important;
    z-index: 9;
}
#mal_cs_links:hover {
    background-image: var(--home-btn-hover);
}
#mal_cs_otherlinks {
    background-image: var(--stats-btn);
    right: 38px !important;
    z-index: 8;
}
#mal_cs_otherlinks:hover {
    background-image: var(--stats-btn-hover);
}
#mal_cs_powered {
    background-image: var(--search-btn);
    position: fixed !important;
    right: 4px !important;
    z-index: 7;
}
#mal_cs_powered:hover {
    background-image: var(--search-btn-hover);
}
#mal_control_strip {
    background: none repeat scroll 0 0 transparent !important;
}
#mal_cs_pic img {
    display: none;
}
#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right: 0 none !important;
}
/* end https://dl.dropbox.com/s/rogesc5nd2o920m/topbarAnohana.css */

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("https://i.imgur.com/C75Ffpu.jpg");
    background-position: 0 83%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: Autour One;
}
#list_surround {
    background-attachment: scroll;
    background-image: url("");
    background-position: 50% -82%;
    background-repeat: no-repeat no-repeat;
    font-size: 13px;
    left: 50px;
    margin-top: -100px;
    padding-bottom: 10px;
    padding-top: 0px;
    position: absolute;
    top: 177px;
    width: 750px;
}
#list_surround > table:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw) {
    transition: background-color 0.4s linear 0s;
/*background-color: rgba(38, 135, 252, 0.6);*/
}
tr:hover td.td1, tr:hover td.td2, tr:hover td.td1 a, tr:hover td.td2 a {
    color: yellow;
    text-shadow: 1px 1px 7px black;
    transition: all 0.4s ease 0s;
}
#list_surround > table:nth-of-type(n+4):hover:not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw) {
    background: none repeat scroll 0 0 rgba(165, 205, 253, 0.9) !important;
    transition: background-color 0.4s linear 0s;
}
.td1, .td2 {
    height: 110px;
}
a, .table_header, .category_totals {
    color: #00CCFF;
    text-shadow: none;
}
a:hover {
    color: white;
    text-shadow: 1px 2px 3px white !important;
}
.status_selected a{color:yellow;}
.table_header a {
    color: white;
}
.table_header {
    background-color: rgba(38, 135, 252, 0.6);
    border-radius: 0 0 0 0;
    box-shadow: 0 5px 30px 3px white;
    padding: 5px;
    right: -8px;
    text-align: center;
    transition: background-color 0.5s linear 0s;
    width: 120px;
}
.table_header:nth-of-type(3) {
    bottom: 500px;
    position: fixed;
    text-align: center;
    z-index: 6;
}
.table_header:first-of-type {
    display: none;
    font-size: 20px;
}
.table_header:nth-of-type(2) {
    bottom: 527px;
    position: fixed;
    z-index: 6;
}
.table_header:hover {
    background-color: rgba(165, 205, 253, 0.8);
    transition: all 0.4s ease 0s;
}
.table_header:nth-of-type(4) {
    bottom: 473px;
    position: fixed;
    z-index: 6;
}
.table_header:nth-of-type(5) {
    bottom: 446px;
    padding: 5px;
    position: fixed;
    width: 120px;
    z-index: 6;
}
.category_totals {
    background-color: rgba(78, 139, 194, 0.6);
    padding: 3px;
    text-align: center;
}
.td1:nth-of-type(1), .td2:nth-of-type(1) {
    color: rgba(255, 255, 255, 0.7);
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    padding-left: 73px;
    padding-top: 6px;
    text-align: left;
    vertical-align: top;
    width: 506px;
}
.td1:nth-of-type(3) a, .td2:nth-of-type(3) a {
    border-radius: 25px 25px 25px 25px;
    color: yellow;
    font-size: 16px;
    height: 20px;
    margin-left: -16px;
    margin-top: 0;
    padding: 2px 8px 0;
    position: absolute;
    width: 20px;
}
.td1:nth-of-type(3), .td2:nth-of-type(3) {
    color: yellow;
    padding-right: 11px !important;
    padding-top: 6px;
    vertical-align: top;
}
.td1:nth-of-type(4), .td2:nth-of-type(4) {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 10px;
    padding-top: 6px;
    vertical-align: top;
}
.td1:nth-of-type(5) a, .td2:nth-of-type(5) a {
    color: rgba(255, 255, 255, 0.7);
}
.td1:nth-of-type(5), .td2:nth-of-type(5) {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 8px;
    padding-top: 6px;
    vertical-align: top;
}
.animetitle + small {
    color: yellow;
    font-size: 12px !important;
    font-weight: bold;
    left: 4%;
    margin-top: 74px;
    padding-right: 2px;
    text-overflow: ellipsis;
    z-index: 1;
}
[cellspacing="0"] {
    line-height: 17px;
}
.category_totals {
    background-color: rgba(78, 139, 194, 0.6);
    border-radius: 10px 10px 10px 10px;
    height: 90px !important;
    text-align: center;
}
.category_totals:hover {
    background-color: rgba(196, 30, 14, 0.7);
    color: #FFFFFF;
}
#grand_totals {
    background-color: rgba(78, 139, 194, 0.6);
    border: 0 none;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
    min-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
[class^="header_"] * {
    background-repeat: no-repeat no-repeat;
    font-size: 55px;
    height: 89px;
    line-height: 24px;
    padding-bottom: 8px;
    text-align: left;
    vertical-align: bottom;
}
.header_title {
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font-family: Century Gothic;
    font-style: normal;
    height: auto;
    padding: 0 8px 0 220px;
    text-shadow: 1px 2px 3px white;
}
.hide {
    background-color: rgba(248, 162, 200, 0.7);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border: 1px solid #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    display: inline-block !important;
    height: 95px;
    margin-left: 29px;
    margin-top: -109px;
    position: absolute;
    transition: all 0.25s ease-in-out 0s;
    width: 65px;
}
.hide:hover {
    background-color: transparent;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 15px 8px white;
    margin-left: 773px;
    padding-right: 150px;
    padding-top: 220px !important;
    position: absolute;
    z-index: 20 !important;
}
.hide:hover:before {
    background-color: rgba(78, 139, 194, 0.6);
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 5px 15px 3px white;
    color: white;
    content: "Preview";
    font-size: 14px;
    height: 20px;
    left: 0;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 215px;
    z-index: 0 !important;
}
.hide:hover:after {
    background: none repeat scroll 0 0 transparent;
    content: " ";
    height: 101px;
    left: -774px;
    position: absolute;
    top: 0;
    width: 1000px;
    z-index: 20;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat repeat;
    border-radius: 10px 10px 10px 10px;
    color: #00CCFF;
    display: inline-block;
    font-family: Patrick Hand SC;
    font-size: 16px;
    height: 50px;
    left: 93px;
    line-height: 16px !important;
    margin-left: 9px;
    margin-top: 35px;
    padding: 5px;
    position: absolute;
    transition: all 0.6s ease 0s;
    width: 610px;
    z-index: 2;
}
.table_header:nth-of-type(6) {
    display: none;
}
span[id*="tagRow"] {
    display: block !important;
}
span[id*="tagLinks"] {
    display: none !important;
}
.td1 div, .td2 div {
    color: transparent;
    padding-left: 4px;
}
.td1 div small a:first-of-type, .td2 div small a:first-of-type {
    color: white;
    float: right;
    position: relative;
    right: 23px;
    top: 0;
}
td:nth-of-type(6) div a {
    background-color: rgba(38, 135, 252, 0.6);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 2px 9px 1px white inset;
    padding: 0 9px 3px 10px;
}
td:nth-of-type(6) div *:hover {
    background-color: #F7F59F;
}
.td1 div small a:last-of-type, .td2 div small a:last-of-type {
    color: transparent;
    display: none;
    float: right;
    position: relative;
    right: 59px;
}
#copyright, #copyright:hover {
    background-color: rgba(38, 135, 252, 0.6);
    border-radius: 10px 10px 10px 10px;
    bottom: 0;
    box-shadow: 0 0 15px 0 white inset;
    color: white;
    padding: 4px;
    width: 100%;
}
#copyright:before {
    color: white;
    content: " List by SylakentH ";
    font-size: 12px;
    padding: 4px;
}
#copyright:after {
    color: gold;
    content: " ";
    padding-left: 20px;
}
#copyright a {
}
/* preload images */
#mal_control_strip tbody {
	background-image:
		var(--user-btn-hover),
		var(--home-btn-hover),
		var(--stats-btn-hover),
		var(--search-btn-hover);
	background-size: 0;
}
