/*
Theme by 5cm
*/

body {
  background-image: url(https://i.pinimg.com/originals/1a/30/ac/1a30ac97225e532c186f39483685e536.jpg) !important;}

.header_cw {
  background-image: url(https://static.zerochan.net/Eugeo.%28Sword.Art.Online%29.full.3012375.png) !important;
  background-size: 600px !important;}

.header_completed {
  background-image: url(https://data.whicdn.com/images/204357454/original.png) !important;
  background-size: 500px !important;}

.header_onhold {
  background-image: url(https://static.zerochan.net/Kirito.%28GGO%29.full.2339824.png) !important;
  background-size: 600px !important;}

.header_dropped {
  background-image: url(https://static.zerochan.net/Lyfa.%28ALO%29.full.2288818.png) !important;
  background-size: 600px !important;}

.header_ptw {
  background-image: url(https://static.zerochan.net/Konno.Yuuki.full.2842292.png) !important;
  background-size: 600px !important;}