/*
Theme by 5cm
*/

body {
  background-image: url(https://i.ibb.co/V3CYzBy/background.jpg) !important;}

.header_cw {
  background-image: url(https://i.ibb.co/jRs7RPS/watching.png) !important;
  background-size: 600px !important;}

.header_completed {
  background-image: url(https://i.ibb.co/YRzPX32/completed.png) !important;
  background-size: 500px !important;}

.header_onhold {
  background-image: url(https://i.ibb.co/LxpB5G5/onhold.png) !important;
  background-size: 600px !important;}

.header_dropped {
  background-image: url(https://i.ibb.co/TwtwXvQ/dropped.png) !important;
  background-size: 600px !important;}

.header_ptw {
  background-image: url(https://i.ibb.co/SBkBbM2/planned.png) !important;
  background-size: 600px !important;}