/*
One Piece by SylakentH
Modified by Valerio Lyndon
Last update: 2023-Jul-23
*/

@\import "https://malscraper.azurewebsites.net/covers/all/manga/presets/more";
@\import "https://yuiafterdark.github.io/shared/fixes/classic.css";
@\import "https://fonts.googleapis.com/css?family=Open+Sans:300";

/* begin Blue Icon Topbar */
#mal_cs_listinfo, #mal_cs_links, #mal_cs_otherlinks, #mal_cs_powered {
    -moz-box-sizing: border-box;
    background: none no-repeat scroll 100% 0 transparent;
    border: none;
    height: 0 !important;
    overflow: hidden;
    padding: 32px 0 0 !important;
    position: fixed;
    right: 4px;
    text-align: center;
    top: 4px;
    transition: all 0.4s ease 0s;
    width: 150px !important;
    z-index: 10;
}
#mal_cs_listinfo:hover, #mal_cs_links:hover, #mal_cs_otherlinks:hover, #mal_cs_powered:hover {
    height: 200px !important;
    padding-top: 32px !important;
}
#mal_cs_listinfo div, #mal_cs_links div, #mal_cs_otherlinks div, #mal_cs_powered div, #mal_cs_powered dd {
    background-color: rgba(12, 125, 196, 0.6);
    border-radius: 3px 0 0 0;
    font-size: 0 !important;
    line-height: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 0 !important;
    transition: opacity 0.4s ease-in-out 0s;
}
#mal_cs_listinfo:hover div, #mal_cs_links:hover div, #mal_cs_otherlinks:hover div, #mal_cs_powered:hover div, #mal_cs_powered:hover dd {
    opacity: 1;
}
#mal_cs_listinfo div:nth-of-type(2), #mal_cs_links div:nth-of-type(2), #mal_cs_otherlinks div:nth-of-type(2), #mal_cs_powered div:nth-of-type(2) {
    border-radius: 0 0 3px 3px;
    padding: 4px 0 8px !important;
}
#mal_cs_listinfo a, #mal_cs_links a, #mal_cs_otherlinks a, #mal_cs_powered a {
    background-color: rgba(12, 46, 196, 0.6) !important;
    border-radius: 3px 3px 3px 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    display: block;
    font: 13px/17px 'Arial',sans-serif !important;
    margin: 4px 12px 0;
    padding: 3px 0 !important;
    text-decoration: none;
}
#mal_cs_listinfo a:nth-of-type(1), #mal_cs_links a:nth-of-type(1), #mal_cs_otherlinks a:nth-of-type(1), #mal_cs_powered a:nth-of-type(1) {
    margin-top: 0;
}
#mal_cs_listinfo a:hover, #mal_cs_links a:hover, #mal_cs_otherlinks a:hover {
    background-color: rgba(38, 135, 252, 0.6) !important;
    color: white !important;
    text-shadow: 0 0 0 black !important;
    border-color: white !important;
}
#mal_cs_listinfo strong a strong {
    font-weight: normal;
}
#mal_cs_otherlinks strong {
    color: #333333;
    display: block;
    font: bold 13px/17px 'Arial',sans-serif !important;
    padding: 0 4px 4px;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_otherlinks strong a {
    background: none repeat scroll 0 0 transparent !important;
    border-radius: 0 0 0 0;
    color: #333333;
    display: inline;
    font: bold 13px/17px 'Arial',sans-serif !important;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_powered a {
    background-color: rgba(12, 125, 196, 0.6) !important;
    border: medium none;
    border-radius: 3px 0 0 0 !important;
    display: block !important;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 !important;
}
#mal_cs_powered:hover a {
    opacity: 1;
}
#mal_cs_powered a img {
    background: url(https://i.imgur.com/fGTjBC3.png) /* myanimelist.png */ no-repeat scroll 50% 6px rgba(12, 46, 196, 0.6);
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 0;
    margin: 0 12px;
    padding: 23px 0 0 126px;
    transition: all 0.25s ease-in-out 0s;
    width: 0;
}
#mal_cs_powered a img:hover {
    background-color: rgba(12, 46, 196, 0.3);
}
#mal_cs_powered #search {
    border-radius: 0 0 3px 3px;
    padding: 8px !important;
    position: relative;
}
#searchBox {
    -moz-box-sizing: border-box;
    border-color: #BCBCBC #D6D6D6 #D6D6D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 28px;
    padding-left: 6px !important;
    padding-right: 24px !important;
    vertical-align: top;
    width: 100px;
}
#searchBox:hover, #searchBox:focus {
    border-color: #ACACAC #C6C6C6 #C6C6C6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#searchListButton {
    background: url(https://i.imgur.com/XqsilHp.png) /* search_icon.png */ no-repeat scroll 0 0 transparent !important;
    border-radius: 3px 3px 3px 3px;
    height: 0;
    margin: 0;
    padding: 16px 0 0 19px !important;
    position: absolute;
    right: 12px !important;
    top: 14px !important;
    width: 0;
}
#mal_cs_listinfo {
    background-image: url(https://i.imgur.com/GEZ10dP.png) /* user.png */;
    right: 106px;
}
#mal_cs_listinfo:hover {
    background-image: url(https://i.imgur.com/VcVVnod.png) /* user_hover.png */;
}
#mal_cs_links {
    background-image: url(https://i.imgur.com/zU7dYPW.png) /* home.png */;
    right: 72px !important;
    z-index: 9;
}
#mal_cs_links:hover {
    background-image: url(https://i.imgur.com/oPfKrOl.png) /* home_hover.png */;
}
#mal_cs_otherlinks {
    background-image: url(https://i.imgur.com/0u6jyJr.png) /* stats.png */;
    right: 38px !important;
    z-index: 8;
}
#mal_cs_otherlinks:hover {
    background-image: url(https://i.imgur.com/EEGHkbF.png) /* stats_hover.png */;
}
#mal_cs_powered {
    background-image: url(https://i.imgur.com/QePufxM.png) /* search */;
    position: fixed !important;
    right: 4px !important;
    z-index: 7;
}
#mal_cs_powered:hover {
    background-image: url(https://i.imgur.com/TUUWtaj.png) /* search_hover.png */;
}
#mal_control_strip {
    background: none repeat scroll 0 0 transparent !important;
}
#mal_cs_pic img {
    display: none;
}
#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right: 0 none !important;
}
/* preload images */
#mal_control_strip tbody {
	background-image:
		url(https://i.imgur.com/oPfKrOl.png),
		url(https://i.imgur.com/VcVVnod.png),
		url(https://i.imgur.com/EEGHkbF.png),
		url(https://i.imgur.com/TUUWtaj.png);
	background-size: 0;
}
/* end Blue Icon Topbar */

/* begin https://dl.dropboxusercontent.com/s/byhc8daawf4r7e6/OpEditButton.css */
#list_surround table:nth-of-type(n+4) tbody div small {
    letter-spacing: -12px;
    visibility: hidden;
}
#list_surround table:nth-of-type(n+4) tbody small a:last-of-type {
    display: none !important;
}
#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
    display: none !important;
}
#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(234, 203, 82, 0.8);
    border-color: white;
    border-image: none;
    border-radius: 6px 0 0 6px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: white;
    display: block !important;
    left: -37px !important;
    letter-spacing: 0 !important;
    position: absolute !important;
    text-align: center;
    visibility: visible;
    width: 36px;
}
/* end https://dl.dropboxusercontent.com/s/byhc8daawf4r7e6/OpEditButton.css */

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("");
    background-position: 0 83%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    /* BROKEN cursor: url(https://i33.tinypic.com/2zh4gbb.png) 1 2, auto; */
    font-family: Open Sans;
}
#inlineContent {
    background-image: url("");
    background-repeat: no-repeat no-repeat;
    display: inline-block !important;
    height: 3000px !important;
    left: 0 !important;
    margin: auto !important;
    position: fixed;
    top: 0 !important;
    width: 3000px !important;
    z-index: -4 !important;
}
#list_surround {
    background-attachment: scroll;
    background-image: url(https://i.imgur.com/qeDiUyB.png) /* logo.png */;
    background-position: 50% 0;
    background-repeat: no-repeat no-repeat;
    font-size: 81.25%;
    height: 250px;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 228px;
    position: absolute;
    top: 100px;
    width: 650px;
right: 400px !important;
}
.td1, .td2 {
    transition: background-color 0.5s linear 0s;
}
td[class^="td"]:nth-of-type(2) {
    width: 505px !important;
}
tr:hover td.td1 a, tr:hover td.td1, tr:hover td.td2 a, tr:hover td.td2 {
    color: white;
    text-shadow: 1px 1px black;
}
tr:hover [class^="td"] {
    background-color: rgba(196, 30, 14, 0.9);
    
}
a, .table_header, .category_totals {
    color: black;
    /* BROKEN cursor: url(https://i33.tinypic.com/2zh4gbb.png) 1 2, auto; */
    text-shadow: none;
}
a:hover {
    color: #3167A9 !important;
    /* BROKEN cursor: url(https://i33.tinypic.com/2zh4gbb.png) 1 2, auto; */
    text-shadow: 1px 2px 3px white;
}
.table_header:first-of-type {
    border-radius: 20px 0 0 0;
}
.table_header:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(5) {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
}
.table_header, .td1, .td2, .category_totals {
    background-color: rgba(234, 203, 82, 0.85);
    border: 0 none;
    padding: 3px;
    text-align: center;
    vertical-align: top;
}
.td1:nth-of-type(1), .td2:nth-of-type(1) {
color: rgba(0,0,0,0.5);
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(6) {
    display: none;
    width: 0;
}
small {
   color: red;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
    font-size: 11px;
}
tr:hover small {
   color: red;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    font-size: 11px;
}
.borderRBL {
    line-height: normal !important;
}
[cellspacing="0"] {
    line-height: 17px;
}
.category_totals {
    background-color: rgba(234, 203, 82, 0.8);
    border-radius: 0 0 12px 12px;
    text-align: center;
}
.category_totals:hover {
    background-color: rgba(196, 30, 14, 0.7);
    color: #FFFFFF;
}
[class^="header_"] * {
    background-repeat: no-repeat no-repeat;
    font-size: 0;
    height: 200px;
    line-height: 24px;
    padding-bottom: 0;
    text-align: right;
    vertical-align: bottom;
}
.header_title {
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font-style: italic;
    height: auto;
    padding: 0 8px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
#grand_totals {
    background-color: rgba(234, 203, 82, 0.8);
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 20px;
    min-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.header_cw {
    background-color: transparent;
    background-image: url(https://i.imgur.com/rQX3qEP.png) /* header_watching.png */;
    background-position: 51% 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
    margin-top: -15px;
}
[data-work="manga"] .header_cw {
    background-image: url(https://i.imgur.com/pXSpk5e.png) /* header_reading.png */;
}
.header_completed {
    background-color: transparent;
    background-image: url(https://i.imgur.com/fVI3Fab.png) /* header_completed.png */;
    background-position: 51% 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
    margin-top: -15px;
    z-index: 0;
}
.header_onhold {
    background-color: transparent;
    background-image: url(https://i.imgur.com/cXW2Aes.png) /* header_on_hold.png */;
    background-position: 51% 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
    margin-top: -15px;
}
.header_dropped {
    background-color: transparent;
    background-image: url(https://i.imgur.com/y2g0f9W.png) /* header_dropped.png */;
     background-position: 51% 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
    margin-top: -15px;
}
.header_ptw {
    background-color: transparent;
    background-image: url(https://i.imgur.com/a7AT8nX.png) /* header_planning.png */;
   background-position: 51% 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
    margin-top: -15px;
}
.header_cw:before {
    background-image: url(https://cdn.imgchest.com/files/pyvdcre32ly.jpg) /* background_watching_reading.jpg */;
    background-position: 0% 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10 !important;
}
.header_completed:before {
    background-image: url(https://cdn.imgchest.com/files/my8xcxwzdj4.jpg) /* background_completed.jpg */;
    background-position: 0% 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10 !important;
}
.header_onhold:before {
    background-image: url(https://cdn.imgchest.com/files/84apczkr2r4.jpg) /* background_on_hold.jpg */;
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10 !important;
}
.header_dropped:before {
    background-image: url(https://cdn.imgchest.com/files/345xczgbjl7.jpg) /* background_dropped.jpg */;
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10 !important;
}
.header_ptw:before {
    background-image: url(https://cdn.imgchest.com/files/k46aco5rmx7.jpg) /* background_planning.jpg */;
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10 !important;
}
.status_not_selected {
    opacity: 0.85;
    transition: all 0.4s ease 0s !important;
    z-index: 0;
}
.status_not_selected:hover {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all 0.4s ease 0s !important;
    z-index: 2 !important;
}
[class^="status_"] a {
    display: block;
    height: 350px;
    opacity: 0;
    width: 247px;
}
.status_selected {
    z-index: 1;
}
[class^="status_"] {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/VJoAFuO.png) /* category_watching.png */;
    background-position: 0 -5px;
    background-repeat: no-repeat no-repeat;
    display: block;
    height: 345px;
    left: 69px;
    padding: 0;
    position: fixed;
    top: -7px;
    transform: rotate(20deg);
-webkit-transform: rotate(20deg);
    width: 247px;
}
[data-work="manga"] [class^="status_"]:nth-of-type(1) {
	background-image: url(https://i.imgur.com/YDtBCKd.png) /* category_reading.png */;
}
[class^="status_"]:nth-of-type(2) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/DJe2XI4.png) /* category_completed.png */;
    background-position: 0 -5px;
    background-repeat: repeat repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 230px;
    top: 20px;
    transform: rotate(25deg);
-webkit-transform: rotate(25deg);
}
[class^="status_"]:nth-of-type(3) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/QBCWPun.png) /* category_on_hold.png */;
    background-position: 0 -5px;
    background-repeat: repeat repeat;
    left: 20px;
    top: 290px;
    transform: rotate(-30deg);
-webkit-transform: rotate(-30deg);
}
[class^="status_"]:nth-of-type(4) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/xsqXxoK.png) /* category_dropped.png */;
    background-position: 0 -7px;
    background-repeat: repeat repeat;
    top: 44px;
    transform: rotate(-15deg);
-webkit-transform: rotate(-15deg);
}
[class^="status_"]:nth-of-type(5) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/Zup8Bxs.png) /* category_planning.png */;
    background-position: 0 -5px;
    background-repeat: repeat repeat;
    display: inline;
    left: 160px;
    top: 110px;
    transform: rotate(43deg);
-webkit-transform: rotate(43deg);
}
[class^="status_"]:nth-of-type(6) {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(https://i.imgur.com/PzOa140.png) /* category_all.png */;
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
    left: 150px;
    top: 260px;
    transform: rotate(13deg) !important;
-webkit-transform: rotate(13deg) !important;
    width: 247px;
}
:hover + .hide {
    background-repeat: no-repeat !important;
    background-size: 242px 284px !important;
    display: block !important;
    height: 274px;
    position: fixed;
    right: calc(67% + 70px) !important;
    top: 232px;
    -webkit-transform: rotate(-20deg);
transform: rotate(-20deg);
    width: 242px;
    z-index: 2;
}
/*Version 2 frame*/
:hover + .hide:after {
    background-image: url(https://i.imgur.com/qncn4zA.png) /* frame_v2.png */;
    background-repeat: no-repeat;
    background-size: 270px 370px;
    content: "";
    display: block;
    height: 376px;
    position: fixed;
    right: -14px !important;
    top: -17px !important;
    width: 270px;
    z-index: -2;
}
/* Version 1 frame 
:hover + .hide:after {
    background-image: url(https://i.imgur.com/d5oGLkz.png) \/* frame_v1.png *\/;
    background-repeat: no-repeat;
    background-size: 270px 370px;
    content: "";
    display: block;
    height: 376px;
    position: fixed;
    right: -14px !important;
    top: -17px !important;
    width: 270px;
    z-index: -2;
}*/
.hide:before {
    border-radius: 25px 25px 0 0;
    color: red;
    content: "";
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    top: 276px;
    width: 217px;
}
/* Title */
td[class^="td"]:nth-of-type(2) {
    width: 454px !important;
}
/* Tags */
.table_header[width="125"], span[id*="tagLinks"], div[id*="tagChangeRow"] {
    display: none !important;
}
td[class^="td"][width="125"] {
    width: 0;
}
span[id*="tagRow"] {
    background-color: rgba(234, 203, 82, 0.9) !important;
    border: 2px solid #FFFFFF;
    border-radius: 0 33px;
    display: block !important;
    line-height: 15px !important;
    padding: 10px 10px 10px 24px;
    position: fixed;
  	text-align:center;
    right: calc(67% + 0px);
    top: 621px;
    visibility: hidden;
    width: 235px;
  height: auto;
  z-index:1;
}
tr:hover span[id*="tagRow"] {
    color: #000000 !important;
  	text-shadow: 1px 2px 3px #FFFFFF !important;
    visibility: visible;
  font-size: 14px;
}
#copyright, #copyright:hover {
    background-color: rgba(196, 30, 14, 0.7);
    border-radius: 5px 5px 5px 5px;
    bottom: 0;
    color: white;
    padding: 2px;
    width: 100%;
}
#copyright:before {
    color: black;
    content: " Design by SylakentH, thanks to Monsterguy, DeviantArt and Shishio Club!";
    font-size: 12px;
    padding-right: 10px;
}

@media all and (max-width: 1366px) { #list_surround { position: absolute !important; left: 500px; } }
@media all and (max-width: 2500px) { #list_surround { position: absolute !important; right: 500px; width: 700px; } }