@\import "https://malscraper.azurewebsites.net/covers/auto/presets/more";
@\import "https://fonts.googleapis.com/css?family=Autour+One";

/* Disabled broken import: http://dl.dropbox.com/u/78340470/CSSforFoxgirls.css */

/* Being import from: https://dl.dropboxusercontent.com/s/sb0f3i0iiami78c/BlueMenu.css */

div > table:first-of-type {
    background: url("https://i.imgur.com/8QBjzJ6.png") no-repeat scroll 100% 0 transparent;
    display: block;
    height: 32px !important;
    overflow: hidden;
    padding-top: 32px !important;
    position: fixed;
    right: 4px;
    table-layout: fixed;
    text-align: center;
    top: 4px;
    width: 64px !important;
    z-index: 6;
    -moz-box-sizing: border-box;
-moz-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}
div > table:first-of-type:hover {
    background: url("https://i.imgur.com/lW8QOL3.png") no-repeat scroll 100% 0 transparent !important;
    height: auto !important;
    width: auto !important;
}
div > table:first-of-type tbody {
    height: 32px !important;
    overflow: hidden;
}
div > table:first-of-type tr {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 3px 0 3px 3px;
    display: block;
    padding: 8px 0 4px;
}
div > table:first-of-type td {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    display: block;
    width: 100%;
}
div > table:first-of-type a {
    background-color: rgba(15, 131, 255, 0.6);
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font: 13px/17px 'Arial',sans-serif;
    margin: 0 12px 4px;
    padding: 3px 16px;
    text-decoration: none;
}
div > table:first-of-type a:hover {
    background-color: rgba(15, 131, 255, 1);
color: white;
}
#mal_cs_listinfo, #mal_cs_links, #mal_cs_otherlinks, #mal_cs_powered {
    -moz-box-sizing: border-box;
    -moz-transition: all 0.4s ease 0s;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
    background: none no-repeat scroll 100% 0 transparent;
    border: 0 none;
    height: 0 !important;
    overflow: hidden;
    padding: 32px 0 0 !important;
    position: fixed;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 150px !important;
    z-index: 10;
}
#mal_cs_listinfo:hover, #mal_cs_links:hover, #mal_cs_otherlinks:hover, #mal_cs_powered:hover {
    height: 200px !important;
    padding-top: 32px !important;
}
#mal_cs_listinfo div, #mal_cs_links div, #mal_cs_otherlinks div, #mal_cs_powered div, #mal_cs_powered dd {
    -moz-transition: all 0.4s ease 0s;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px 0 0 0;
    font-size: 0 !important;
    line-height: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 0 !important;
}
#mal_cs_listinfo:hover div, #mal_cs_links:hover div, #mal_cs_otherlinks:hover div, #mal_cs_powered:hover div, #mal_cs_powered:hover dd {
    opacity: 1;
}
#mal_cs_listinfo div:nth-of-type(2), #mal_cs_links div:nth-of-type(2), #mal_cs_otherlinks div:nth-of-type(2), #mal_cs_powered div:nth-of-type(2) {
    border-radius: 0 0 3px 3px;
    padding: 4px 0 8px !important;
}
#mal_cs_listinfo a, #mal_cs_links a, #mal_cs_otherlinks a, #mal_cs_powered a {
    background-color: rgba(15, 131, 255, 0.6) !important;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font: 13px/17px 'Arial',sans-serif !important;
    margin: 4px 12px 0;
    padding: 3px 0 !important;
    text-decoration: none;
}
#mal_cs_listinfo a:nth-of-type(1), #mal_cs_links a:nth-of-type(1), #mal_cs_otherlinks a:nth-of-type(1), #mal_cs_powered a:nth-of-type(1) {
    margin-top: 0;
}
#mal_cs_listinfo a:hover, #mal_cs_links a:hover, #mal_cs_otherlinks a:hover {
    background-color: rgba(15, 131, 255, 1) !important;
}
#mal_cs_listinfo strong a strong {
    font-weight: normal;
}
#mal_cs_otherlinks strong {
    color: #333333;
    display: block;
    font: bold 13px/17px 'Arial',sans-serif !important;
    padding: 0 4px 4px;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_otherlinks strong a {
    background: none repeat scroll 0 0 transparent !important;
    border-radius: 0 0 0 0;
    color: #333333;
    display: inline;
    font: bold 13px/17px 'Arial',sans-serif !important;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
#mal_cs_powered a {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 3px 0 0 0 !important;
    display: block !important;
    margin: 0 !important;
    opacity: 0;
    padding: 8px 0 0 !important;
}
#mal_cs_powered:hover a {
    opacity: 1;
}
#mal_cs_powered a img {
-moz-transition: all 0.4s ease 0s;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
    background: url("http://dl.dropbox.com/u/78340470/Icon%20Style%20Menu%20Bar/icon0poweredaimg.png") no-repeat scroll 50% 6px rgba(15, 131, 255, 0.6);
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 0;
    margin: 0 12px;
    padding: 23px 0 0 126px;
    width: 0;
}
#mal_cs_powered a img:hover {
    background-color: rgba(15, 131, 255, 1);
}
#mal_cs_powered #search {
    border-radius: 0 0 3px 3px;
    padding: 8px !important;
    position: relative;
}
#searchBox {
    -moz-box-sizing: border-box;
    border-color: #BCBCBC #D6D6D6 #D6D6D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 28px;
    padding-left: 6px !important;
    padding-right: 24px !important;
    vertical-align: top;
    width: 100px;
}
#searchBox:hover, #searchBox:focus {
    border-color: #ACACAC #C6C6C6 #C6C6C6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#searchListButton {
    background: url("http://dl.dropbox.com/u/78340470/Icon%20Style%20Menu%20Bar/icon0searchbutton.png") no-repeat scroll 0 0 transparent !important;
    border-radius: 3px 3px 3px 3px;
    height: 0;
    margin: 0;
    padding: 16px 0 0 19px !important;
    position: absolute;
    right: 12px !important;
    top: 14px !important;
    width: 0;
}
#mal_cs_listinfo {
    background-image: url("https://i.imgur.com/rWc2XRh.png");
    right: 172px;
}
#mal_cs_listinfo:hover {
    background-image: url("https://i.imgur.com/Gm7buPJ.png");
}
#mal_cs_links {
    background-image: url("https://i.imgur.com/Z6rFKOZ.png");
    right: 138px !important;
    z-index: 9;
}
#mal_cs_links:hover {
    background-image: url("https://i.imgur.com/xlnJ5ls.png");
}
#mal_cs_otherlinks {
    background-image: url("https://i.imgur.com/1dxPFE0.png");
    right: 104px !important;
    z-index: 8;
}
#mal_cs_otherlinks:hover {
    background-image: url("https://i.imgur.com/P3HfP6G.png");
}
#mal_cs_powered {
    background-image: url("https://i.imgur.com/hgnoCDy.png");
    position: fixed !important;
    right: 70px !important;
    z-index: 7;
}
#mal_cs_powered:hover {
    background-image: url("https://i.imgur.com/aPgoTR3.png");
}
#mal\_control\_strip {
    background: none repeat scroll 0 0 transparent !important;
}
#mal_cs_pic img {
    display: none;
}
#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right: 0 none !important;
}



@media screen and (-webkit-min-device-pixel-ratio:0){

#mal_cs_powered #search #searchBox {
width: 95px !important;
}

div > table:first-of-type{
    height: 0px !important;
}
}

*:-o-prefocus, #mal_cs_powered #search #searchBox {
width: 95px !important;
}

:root #mal_cs_powered #search #searchBox {
width: 95px \0/;
}

:root div > table:first-of-type {
right: 68px \0/;
}

:root div > table:first-of-type a {  
margin-left: 60px \0/;
}

/* End import */

/* Begin import from: https://dl.dropboxusercontent.com/s/rkoh6puaqoegvyr/TMOHSEditButton.css */

#list_surround table:nth-of-type(n+4) tbody div small {
    letter-spacing: -12px;
    visibility: hidden;
}
#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
    display: none !important;
}
#list_surround table:nth-of-type(n+4) tbody small a:last-of-type {
    display: none !important;
}
#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(1, 153, 239, 0.7);
    border-color: white;
    border-image: none;
    border-radius: 6px 0px 0px 6px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    color: white;
    display: block !important;
    letter-spacing: 0 !important;
    position: absolute !important;
    left: -47px !important;
    text-align: center;
    visibility: visible;
    width: 36px;
}

/* End import */

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("https://i.imgur.com/N4Aa3rP.jpg");
    background-position: 25% 0;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: Autour One;
}
#list_surround {
    background-attachment: fixed;
    background-position: 24% 0;
    background-repeat: no-repeat no-repeat;
    font-size: 13px;
    height: 250px;
    left: 0;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    width: 800px;
    z-index: 0;
}
td[class^="td"]:nth-of-type(2) {
    width: 554px !important;
}
tr:hover td.td1 a, tr:hover td.td2 a, tr:hover td.td1, tr:hover td.td2 {
    color: cyan;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transition: all 0.4s ease 0s;
}
tr:hover [class^="td"] {
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease 0s;
}
a {
    color: white;
    text-shadow: none;
}
a:hover {
    color: yellow !important;
    text-shadow: 0 1px rgba(255, 255, 255, 0.15);
}
.table_header {
    padding-top: 10px !important;
}
.td1:nth-of-type(5), .td2:nth-of-type(5) {
    border-right: 1px solid white !important;
    color: white;
}
.td1:nth-of-type(1), .td2:nth-of-type(1) {
    border-left: 1px solid white !important;
    color: white;
}
.table_header:nth-of-type(1) {
    border-left: 1px solid white !important;
    border-top-left-radius: 20px;
    color: white;
}
.table_header:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(1), .table_header:nth-of-type(2), .table_header:nth-of-type(3), .table_header:nth-of-type(4), .table_header:nth-of-type(5), .table_header:nth-of-type(6) {
    border-top: 1px solid white !important;
}
.table_header:nth-of-type(5) {
    border-bottom-right-radius: 0;
    border-right: 1px solid white;
    border-top-right-radius: 20px;
    color: white;
    padding-right: 8px;
}
.table_header, .category_totals {
    background-color: rgba(1, 153, 239, 0.7);
    border: 0 none;
    color: white !important;
    opacity: 1;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}
.td1, .td2 {
    background-color: rgba(1, 153, 239, 0.7);
    color: white !important;
    padding: 5px;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    text-align: left;
}
.table_header:nth-of-type(6) {
    display: none !important;
    width: 0;
}
small {
    color: #D79C20 !important;
    font-weight: bold;
}
.table_header, .td1, .td2, .category_totals {
    color: grey;
}
.borderRBL {
    line-height: normal !important;
}
[cellspacing="0"] {
    line-height: 17px;
}
.category_totals {
    border-bottom: 1px solid white;
    border-left: 1px solid white !important;
    border-radius: 0 0 12px 12px;
    border-right: 1px solid white;
    text-align: center;
}
.category_totals:hover {
    background-color: #C41E0E;
    color: #FFFFFF;
}
[class^="header_"] * {
    background-repeat: no-repeat no-repeat;
    font-size: 0;
    height: 130px;
    line-height: 24px;
    padding-bottom: 0;
    text-align: right;
    vertical-align: bottom;
}
.header_title {
    border: medium none !important;
    color: transparent !important;
    display: none;
    font-size: 0 !important;
    font-style: italic;
    height: auto;
    padding: 0 8px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
#grand_totals {
    background-color: rgba(1, 153, 239, 0.7);
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: white;
    line-height: 20px;
    min-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
.header_cw {
    background-image: url("https://i.imgur.com/C5QKiVB.png");
    background-position: 40% 0;
    background-repeat: no-repeat no-repeat;
    height: 300px;
}
.header_completed {
    background-image: url("https://i.imgur.com/3jHYZgQ.png");
    background-position: 50% 0;
    background-repeat: no-repeat no-repeat;
    border-radius: 20px 20px 0 0;
    height: 300px;
    z-index: 0;
}
.header_onhold {
    background-image: url("https://i.imgur.com/NAgAVBG.png");
    background-position: 60% 0;
    background-repeat: no-repeat no-repeat;
    height: 300px;
}
.header_dropped {
    background-image: url("https://i.imgur.com/jvupaw4.png");
    background-position: 30% 0;
    background-repeat: no-repeat no-repeat;
    height: 300px;
}
.header_ptw {
    background-image: url("https://i.imgur.com/h39FyTe.png");
    background-position: 54% 0;
    background-repeat: no-repeat no-repeat;
    height: 300px;
}
:hover + .hide {
    background-position: center 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    border-color: white;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 3px;
    display: block !important;
    height: 350px;
    padding-bottom: 0;
    position: fixed;
    right: 30px;
    top: 160px;
    width: 226px;
}
.hide:before {
    background: none repeat scroll 0 0 transparent;
    border-radius: 25px 25px 0 0;
    color: white;
    content: "";
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 225px;
}
.td1:nth-of-type(6) a, .td2:nth-of-type(6) a {
    color: white !important;
    font-weight: normal !important;
    text-shadow: 0 0 0 black !important;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
    background-color: rgba(1, 153, 239, 0.9) !important;
    border-color: white;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1px;
    color: white !important;
    display: none;
    height: auto;
    padding: 10px 10px 14px 24px;
    position: fixed;
    right: 15px;
    text-shadow: 0 0 0 black !important;
    top: 522px;
    width: 240px;
    z-index: 1;
}
#copyright, #copyright:hover {
    background-color: rgba(1, 153, 239, 0.7);
    border: 1px solid white;
    border-radius: 5em 5em 0 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    padding: 0;
    width: 800px;
}
#copyright:before {
    color: white;
    content: " Design by SylakentH_ .";
    font-size: 12px;
    padding-right: 3px;
    padding-top: 10px !important;
}
#copyright:after {
    color: #FFD700;
    content: " ";
    padding-left: 20px;
}