@import url(https://malcat-gen.appspot.com/series?preset=more);
@import url(https://dl.dropboxusercontent.com/s/wicl9wr24s7k4xc/TopBarReduxBlack.css);

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://images2.alphacoders.com/813/81342.jpg");
    background-position: 0 15%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    cursor: url("http://i41.tinypic.com/2vjsb4m.png") 1 2, auto;
    font-family: candara;
}
#inlineContent {
    background-image: url("");
    background-repeat: no-repeat no-repeat;
    display: inline-block !important;
    height: 3000px !important;
    left: 0 !important;
    margin: auto !important;
    position: fixed;
    top: 0 !important;
    width: 3000px !important;
    z-index: -4;
}
#list_surround {
    background-attachment: scroll;
    background-image: url("http://i44.tinypic.com/2rxtlsg.png");
    background-position: 50% 14%;
    background-repeat: no-repeat no-repeat;
    font-size: 81.25%;
    height: 250px;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 228px;
    position: absolute;
    right: 75px !important;
    width: 750px;
}
a {
    color: #FFFFFF;
    cursor: url("http://i41.tinypic.com/2vjsb4m.png") 1 2, auto;
    text-shadow: none;
}
a:hover {
    color: #FF4000;
    cursor: url("http://i41.tinypic.com/2vjsb4m.png") 1 2, auto;
    text-shadow: 0 1px rgba(255, 255, 255, 0.15);
}
.table_header {
}
.table_header:first-of-type {
    border-radius: 0 0 0 0;
}
.table_header:nth-of-type(2) {
    text-align: left;
}
.table_header:last-of-type {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}
.td1, .td2 {
    background-color: rgba(8, 236, 228, 0.5);
    height: 20px;
    transition: background-color 0.5s linear 0s;
}
.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0 none;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}
.table_header, .td1, .td2, .category_totals {
    color: white;
}
.borderRBL {
    line-height: normal !important;
}
[cellspacing="0"] {
    line-height: 17px;
}
.category_totals {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 12px 12px;
    text-align: center;
}
.category_totals:hover {
    background-color: rgba(114, 79, 145, 0.7);
    color: #FFFFFF;
}
[class^="header_"] * {
    font-size: 70px;
    line-height: 0;
    margin-top: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}
.header_title {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: century Gothic;
    font-style: normal;
    height: 46px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    width: auto;
}
#grand_totals {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 20px;
    min-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    text-align: left;
}
.status_not_selected {
    left: -110px !important;
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}
.status_not_selected:hover {
    color: transparent;
    left: -16px !important;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.status_selected a, .status_not_selected a, .status_selected:hover a, .status_not_selected:hover a {
    color: transparent;
    display: block;
    font-size: 0;
    height: 100px;
    width: 270px;
    transition: all 0.4s ease 0s;
}
.header_cw {
    background-color: transparent;
    background-image: url("");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -45px;
}
.header_completed {
    background-color: transparent;
    background-image: url("");
    background-position: 61px 5px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: 0;
    margin-top: -40px;
    z-index: 0;
}
.header_onhold {
    background-color: transparent;
    background-image: url("");
    background-position: 91px 11px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: 0;
    margin-top: -40px;
}
.header_dropped {
    background-color: transparent;
    background-image: url("");
    background-position: 131px 5px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: 0;
    margin-top: -40px;
}
.header_ptw {
    background-color: transparent;
    background-image: url("");
    background-position: 15px 5px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: 0;
    margin-top: -40px;
}
.status_selected {
    display: block;
}
.status_not_selected {
    display: block;
}
#list_surround .status_selected, #list_surround .status_not_selected {
    background-attachment: scroll;
    background-image: url("http://i43.tinypic.com/2my14s0.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px 20px 20px 20px;
    display: block;
    height: 100px;
    left: -16px;
    padding: 0;
    position: fixed;
    top: 50px;
    width: 300px;
    z-index: 1;
}
#list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i42.tinypic.com/2uqg6ti.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 160px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i39.tinypic.com/oh049i.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    top: 270px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i42.tinypic.com/eq5z0l.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    top: 380px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i42.tinypic.com/oixabk.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    display: inline;
    top: 490px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i41.tinypic.com/2i1zci0.png");
    background-position: 0 0;
    background-repeat: no-repeat no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
    top: 600px;
    width: 300px;
}
a, .td1, .td2, .category_totals {
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
}
tr:hover [class^="td"] {
    background-color: rgba(114, 79, 145, 0.7);
    transition: all 0.4s ease 0s;
}
/* COVER AREA
The surrounding area containing each cover pic which appears when you point to a row (requires #more CSS to see a DVD or manga cover). 

Move the cover's location around with left and top. 
Remove only the border-radius: 25px 25px 25px 25px; lines to take the rounded corners away. 
Increase height and width to make the pics bigger. 
Delete border-style: solid; to remove the border. 

For changing the original background color see the bottom of the original post:
http://myanimelist.net/forum/?topicid=563993
*/
.hide {
background-size: cover;
right: 850px;
top: 160px;
height: 350px;
width: 226px;
padding-bottom: 0px;
border-style: solid;
border-color: white;
border-top: 1px solid white;;
border-left: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;
border-radius: 25px 25px 25px 25px;
background-color: rgba(200, 5, 200, 0.75);
background-position: center 50% !important;
background-repeat: no-repeat !Important;
display: block !important;
position: fixed;
visibility: hidden;
opacity: 0;
}

/* PREVIEW MSG ABOVE COVERS
Remove content: "preview"; to remove the PREVIEW text.
Change the text in quotations after content to what you want it to say above your cover pic. 
Top and width controls the position of the text.
*/
.hide:before {
color: white;
background: transparent;
content: "";
padding-bottom: 5px;
position: absolute;
text-align: center;
width: 225px;
top: -25px;
border-radius: 25px 25px 0 0;
}


/* OTHER SETTINGS */
:hover + .hide {
visibility: visible;
opacity: 1;
}
Read more at http://myanimelist.net/forum/?topicid=563993#dSE8SotOhUfyYfQO.99
#copyright:hover {
}
#copyright:before {
    color: black;
    content: " Design by SylakentH, for SynexX_!";
    font-size: 12px;
    padding-right: 10px;
}
#copyright:after {
    color: gold;
    content: " ";
    padding-left: 20px;
}
#copyright a {
}
.header_cw:before {
    background-image: url("http://i41.tinypic.com/2mrgxed.png");
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: 85% auto;
    bottom: -2%;
    content: "";
    display: block;
    height: 100%;
    left: -5%;
    position: fixed;
    width: 100%;
    z-index: -10 !important;
}
.header_completed:before {
    background-image: url("http://i39.tinypic.com/6yjtb7.png");
    background-position: 0 100% !important;
    background-repeat: no-repeat no-repeat;
    background-size: 100% auto;
    bottom: -4%;
    content: "";
    display: block;
    height: 100%;
    left: -22%;
    position: fixed;
    width: 100%;
    z-index: -10 !important;
}
.header_onhold:before {
    background-image: url("http://i42.tinypic.com/2qldgfk.png");
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: 54% auto;
    bottom: -10%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -10 !important;
}
.header_dropped:before {
    background-image: url("http://i39.tinypic.com/2rfzxqh.png");
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: 34% auto;
    bottom: -2%;
    content: "";
    display: block;
    height: 100%;
    left: 19%;
    position: fixed;
    width: 100%;
    z-index: -10 !important;
}
.header_ptw:before {
    background-image: url("http://i41.tinypic.com/5b66w4.jpg");
    background-position: 0 100% !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -3 !important;
}